

<% unless @user.profile.nil? %>
<p><h2>Bio</h2></p>
<% if @user.profile.bio.present? %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="">
        <p><%= @user.profile.bio %></p>
      </div>
    </div>
  </div>
<% end %>

<p><h2>Connections</h2></p>
<div class="row">
  <div class="col-xs-12 col-md-12 center">
    <div class="">
      <% if @user.profile.google.present? %>
        <%= link_to image_tag(place_image('google-64.png')) , @user.profile.google %>
      <% end %>

      <% if @user.profile.linkedin.present? %>
        <%= link_to image_tag(place_image('linkedin-64.png') ), @user.profile.linkedin %>
      <% end %>

      <% if @user.profile.twitter.present? %>
        <%= link_to image_tag(place_image('twitter-64.png')), @user.profile.twitter %>
      <% end %>
      <% if @user.profile.mobile.present? %>
        <%=  image_tag(place_image('mobile-64.png')) %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
