

<% if current_user?(@user) %>
  <%= render 'shared/link_to_profile' %>
<% end %>



<% unless current_user.profile.nil? %>

<div class="row">
  <aside class="col-xs-6 col-md-4">
      <section>
        <div class="" id="avata">
          <%= render 'avata', profile: current_user.profile, version: :thumb %>
        </div>

      </section>
  </aside>
  <div class="col-xs-12 col-sm-6 col-md-8">
      <%=render 'form_avata'%>
  </div>

</div>

  <%= render partial: "name_tag", locals: { user: @user } %>


  <%= render 'social_profile'%>

<% end %>


