

<% if @comments.any?%>
  <ul class="media-list">

  <% @comments.each do |comment| %>
    <li class="media">
      <%= image_tag( comment.user.image.url(:thumb), :class=>'pull-left')  %>
      <div class="media-body">
        <h4 class="media-heading"><%= comment.user.username %></h4>
        <%= comment.content %>
        <% if current_user?(comment.user) %>
        <%= link_to "delete", [@commentable, comment], method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: comment.content %>  <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @comments %>
<% end %>
