<div class="media">
  <h4 class="media-heading"><%= link_to item.title.titleize, item , :class=>'post-title' %></h4>
  <div class="media-body">
      <%= truncate(content , length: 80) if content.present? %>
  </div>
</div>
<div class="media">
  <p class="pull-left" >
   <%= image_tag( item.user.image.url(:thumb), :class=>'media-object img-circle' ,:size=>'32x32') %>
  </p>
  <h4 class="writer">
    <p><%= item.to_writer %> </p>
    <p><%= pluralize(item.comments_count, "Comment") %>
    <%= pluralize(item.cached_votes_up, "Like") %></p>
  </h4>
</div>
