<% content_for :slidebar do %>
  <div class="article">
    <p><h3 class="text-center"><%= @article.title.titleize %></h3></p>
    <h4 class="writer text-center"> <%= @article.to_writer %></h4>
    <%=render 'tag_items', {tags: @article.groups } %>
  </div>

<% end %>

<div class="row">
  <div class="">
    <p> <%= @article.content %></p>
  </div>
  <div class="">
    <p> <%= @article.group_list %></p>
  </div>
  <div class="focal-point right-1 up-1">
    <div> <%= image_tag @article.image.url(:mobile), :class =>'thumbnail' if @article.image.present? %></div>
  </div>
  <div id="vote" class="col-xs-12  col-sm-12 col-md-12">
    <%= pluralize(@article.cached_votes_up, "Like") %>
  </div>

  <div class="col-xs-12  col-sm-12 col-md-12">

  <%= link_to 'Back',params[:q] ? :back : articles_path %>

  <%= link_to 'Edit', edit_article_path(@article) if current_user?(@article.user)  %>
  <%= link_to "Like", like_article_path(@article), method: :put ,id:'btn_like', remote: true , :style => @voter.voted_up_on?(@article) ?  'display: none;' : 'display: inline;'   %>
  <%= link_to "Dislike", dislike_article_path(@article), method: :put ,id:'btn_dislike', remote: true , :style => @voter.voted_up_on?(@article) ?  'display: inlinie;' : 'display: none;'    %>
  <%= link_to pluralize(@article.comments_count, "Comment"),  article_comments_path(@article)  %>
  </div>
</div>



