<% content_for :slidebar do %>
<div class="article-bg">
  <div class="article">
    <p><h4 class="text-center"><%= @article.title.titleize %></h4></p>
    <h4 class="writer text-center"> <%= @article.to_writer %></h4>
    <%=render 'tag_items', {tags: @article.tags } %>
  </div>
</div>
<% end %>

  <div class="row">

    <div class="">
      <p> <%= @article.content %></p>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-12">
       <%= image_tag @article.image.url(:mobile), :class =>'thumbnail' if @article.image.present? %>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-12">
       <%= @article.cached_votes_up %> / <%= @article.cached_votes_total%>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-12">
    <%= link_to 'Back', articles_path %>
    <%= link_to 'Edit', edit_article_path(@article) if current_user?(@article.user)  %>
    <%= link_to "Like", like_article_path(@article), method: :put %>
    <%= link_to "Dislike", dislike_article_path(@article), method: :put %>

    </div>
  </div>

  <div class="row">
     <div class="col-xs-12  col-sm-12 col-md-12">
      <p><%= pluralize(@article.comments_count, "Comment") %></p>
      <%= link_to "Comments", article_comments_path(@article) %>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-12">
      <%= render "comments/form" %>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-12">
    <%= render 'photos/photos_list' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12  col-sm-12 col-md-12">
      <%= render "comments/comments" if @article.comments_count > 0 %>
    </div>
  </div>

