<%= form_for @program  , :html => { :class => 'form-horizontal' } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

    <legend><%= controller.action_name.capitalize %> Program</legend>
      <div class="form-group">
        <%= f.label :title, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, :class => 'form-control', :placeholder=>"Title" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :content, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :content, :class => 'form-control', :placeholder=>"Content" %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class=> "btn btn-default" %>
        <%= link_to 'Cancel', programs_path, :class => "btn btn-default" %>
      </div>
    </div>

<% end %>
