
<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @program.content %>
</p>
<div class="row">
  <%= link_to 'Join', new_program_path ,:class => 'btn btn-default' %>
  <%= link_to 'Like', new_program_path ,:class => 'btn btn-default' %>
</div>

<div class="row">
  <%= render 'photos/photos_list' %>
</div>

<div class="row">
<%= render "comments/comments" %>
</div>

<div class="row">
  <%= render "comments/form" %>
</div>

<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12">
    <%= link_to 'Edit', edit_program_path(@program) ,:class => 'btn btn-default'%> |
    <%= link_to "Add a Photo",   [:new , @attachable, :photo] ,:class => 'btn btn-default'%>  |
    <%= link_to 'Back', programs_path ,:class => 'btn btn-default'%>
  </div>
</div>
