<h1>Crop Avata</h1>
<div class="col-xs-12">
  <%= image_tag @user.image.url(:mobile), id: "cropbox" %>
  <h4>Preview</h4>
  <div style="width:64px; height:64px; overflow:hidden">
    <%= image_tag @user.image.url(:mobile), :id => "preview" %>
  </div>

 <br />
  <%= form_for @user do |f| %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <div class="actions">
      <%= f.submit "Crop", :class => "btn btn-default" %>
    </div>
  <% end %>
</div>
