<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to "User", current_user, class: "" %></li>
    <li><%= link_to_unless_current "My Profile", profile_path(current_user), class: "" %></li>
    <li>
      <% if current_user.profile.nil? %>
      <%= link_to_unless_current "Create a Profile", new_profile_path, class: "" %>
      <% else %>
      <%= link_to_unless_current "Edit My Profile", edit_profile_path(current_user), class: "" %>
      <% end %>
    </li>
    <% if current_user.guru? %>
    <li><%= current_user.guru.name %></li>
    <%else%>
    <li><%= link_to_unless_current "Join mentoring program", new_guru_path, class: "" %></li>
    <%end %>
    <li><%= link_to_unless_current "Setting", edit_user_registration_path, class: "" %></li>
  </ol>
</div>
