

<%= form_for  @paper , :html => { :id=>'paper_editor' , :multipart=>true, :class=>'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :title, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :title, :class => 'form-control', :placeholder=>"Title" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :content, :class => 'form-control', :placeholder=>"Content" , :rows=>"10"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.file_field :image, :class => '', :placeholder=>"jpg, gif, png only"%>
      <%= f.hidden_field :image_cache %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class=> "btn btn-default" %>
        <%= link_to 'Cancel', papers_path, :class => "btn btn-default" %>
      </div>
    </div>

<% end %>
