<% content_for :slidebar do %>
  <div class="article">
    <p><h3 class="text-center"><%= @paper.title.titleize %></h3></p>
    <p><h4 class="text-center"><%= @paper.type_list %></h4></p>
    <h4 class="writer text-center"> <%= @paper.to_writer %></h4>
  </div>

<% end %>

<div class="row">
  <div class="">
    <p> <%= @paper.abstract %></p>
  </div>
  <div class="">
    <p> <%= @paper.content %></p>
  </div>
  <div class="">
    <p> <%= @paper.link %></p>
  </div>


  <div class="col-xs-12  col-sm-12 col-md-12">
  <%= link_to 'Back', papers_path %>
  <%= link_to 'Edit', edit_paper_path(@paper) if current_user?(@paper.user)  %>
  <%= link_to "Delete", @paper, method: :delete, data: { confirm: "You sure?" } if current_user?(@paper.user)  %>
  </div>
</div>
