

<%= form_for  @lab , :html => {:id=>'lab_editor' , :multipart=>true, :class=>''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :placeholder=>"Title" %>
    </div>

    <div class="form-group">
      <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image, :class => '', :placeholder=>"Lab URL" %>
    </div>

    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
      <%= f.text_area :content, :class => 'form-control', :placeholder=>"Content" , :rows=>"6"%>
    </div>

    <div class="form-group">
      <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, {id:'lab_category' ,multiple:true, class: 'myselect'} %>
    </div>

    <div class="form-group">
      <%= f.text_field :category_ids, :class => 'myselect', :id=> 'teens_select2', :placeholder=>"Title" %>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class=> "btn btn-default" %>
        <%= link_to 'Cancel', labs_path, :class => "btn btn-default" %>
      </div>
    </div>

<% end %>

