

<%= form_for  @lab , :html => {:id=>'lab_editor' , :multipart=>true, :class=>''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :placeholder=>"Title" %>
    </div>

    <div class="form-group">
      <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image, :class => '', :placeholder=>"Lab URL" %>
    </div>

    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
      <%= f.hidden_field :content, :class => 'form-control', :placeholder=>"content" %>

      <article class="content" id="lab-desc">
          <%=raw @lab.content %>
      </article>
    </div>

    <div class="form-group">
      <%= f.label :category_tokens, "Universities" %><br/>
      <%= f.text_field :category_tokens ,data: {load: @lab.categories} , :class => 'form-control', :placeholder=>"Universities" %>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class=> "btn btn-default" %>
        <%= link_to 'Cancel', labs_path, :class => "btn btn-default" %>
        <%= button_tag "Greeting",:id=>'test', :type=> 'button' %>
      </div>
    </div>

<% end %>

<script type="text/javascript">
  grande.bind(document.querySelectorAll("article"));
</script>
