

<%= form_for  @lab , :html => {:id=>'lab_editor' , :multipart=>true, :class=>''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label 'Title', :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :placeholder=>"Job Title" %>
    </div>

    <div class="form-group">
      <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image, :class => '', :placeholder=>"Lab URL" %>
    </div>

    <div class="form-group">
      <%= f.label 'Description', :class => 'control-label' %>
      <%= f.text_area :content, :class => 'form-control', :placeholder=>"Job Description" , :rows=>"10"%>
    </div>

    <div class="form-group">
        <%= button_tag "Update",:id=>'lab-button', :type=> 'button', :class=> "btn btn-default" %>
        <%= link_to 'Cancel', @lab, :class => "btn btn-default" %>
    </div>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    grande.bind(document.querySelectorAll("article"));
  </script>
<% end %>


