

<% content_for :slidebar do %>
  <% if @lab.image.present? %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: @lab.image.url(:mobile) } %>
  <% else %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: asset_url('lab-title.jpg') } %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-xs-12  col-sm-12">
        <ul>
          <% @lab.categories.each do |category| %>
            <li class="token-input-token-mac"><%= category.name %></li>
          <% end %>
        </ul>
    </div>
  <div class="col-xs-12  col-sm-12">
     <%=raw @lab.content %>
  </div>

  <div class="col-xs-12  col-sm-12">
    <%= link_to 'Edit', edit_lab_path(@lab) %> |
    <%= link_to 'Back', labs_path %>
  </div>
</div>
