

<% content_for :slidebar do %>
  <% if @lab.image.present? %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: @lab.image.url(:mobile) } %>
  <% else %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: asset_url('lab-title.jpg') } %>
  <% end %>
<% end %>

<div class="row lab-content">
  <div class="col-xs-12  col-sm-12">
     <%=raw @lab.content %>
  </div>
</div>

<h4><sapn class="label label-success">Univ.</sapn></h4>

<div class="row lab-content">
  <ul>
    <% @lab.categories.each do |category| %>
      <li class="token-input-token-mac"><%= category.name %></li>
    <% end %>
  </ul>
</div>


<div class="row lab-content">
  <div class="col-xs-12  col-sm-12">
        <%= link_to 'Back', labs_path , :class=> "btn btn-default" %>
        <%= link_to 'Edit', edit_lab_path(@lab) , :class=> "btn btn-default"  if current_user?(@lab.user) %>
  </div>
</div>
