

<% content_for :slidebar do %>
  <% if @lab.image.present? %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: @lab.image.url(:mobile) } %>
  <% else %>
    <%= render partial: "lab_title", locals: {lab: @lab , background: asset_url('lab-title.jpg') } %>
  <% end %>
<% end %>

<div class="row lab-content">
  <div class="col-xs-12  col-sm-12">
     <%=@lab.content %>
  </div>
</div>



<div class="row lab-content">
  <div class="col-xs-12  col-sm-12">
        <%= link_to 'Back', labs_path , :class=> "btn btn-default" %>
        <%= link_to 'Edit', edit_lab_path(@lab) , :class=> "btn btn-default"  if current_user?(@lab.user) %>
  </div>
</div>
