

<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12">
      <p><h3><%= @lab.name %></h3></p>
  </div>
  <div class="col-xs-12  col-sm-12 col-md-12">
      <ul>
        <% @lab.categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
  </div>

  <div class="col-xs-12  col-sm-12 col-md-12">
    <p> <%= @lab.content %></p>
  </div>

  <div class="col-xs-12  col-sm-12 col-md-12">
    <%= link_to 'Edit', edit_lab_path(@lab) %> |
    <%= link_to 'Back', labs_path %>
  </div>
</div>
<% content_for :slidebar do %>
  <div class="image_place">
    <%= image_tag @lab.image.url(:mobile) %>
  </div>
<% end %>
