<div class="container">
  <footer class="footer">
    <small>
      <%= image_tag 'logo.png'  %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Blog", 'http://moredream.wordpress.com/' %></li>
        <li><%= link_to "Event", programs_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>
