<!DOCTYPE html>
<html>
<head>
  <title>Pipeline</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/login' %>
<!-- Header //-->
<%= render 'layouts/header' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!-- Body //-->
<div class="container">
  <%= yield %>
</div>
<!-- Footer //-->
<%= render 'layouts/footer' %>

</body>
</html>
